<!DOCTYPE html>
<html>
  <head>
    <title>削除完了</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= name %>さん</p>
    <p>名前の削除が完了しました</p>
    <p><a href="/list">一覧画面へ</a></p>
  </body>
</html>