<!DOCTYPE html>
<html>
  <head>
    <title>編集完了</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>ようこそ！<%= name %>さん</p>
    <p>名前の変更が完了しました</p>
    <p><a href="/">入力画面へ</a></p>
  </body>
</html>